.match-card-container {
  border-left: 4px solid #ed0423;
  border-right: 4px solid #0496ff;
  background: #24292b;
  border-radius: 4px;
  color: white;
}

.match-card-header {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.match-card-header > div {
  flex: 1; /* Each side takes equal width */
}

.match-card-header > div:nth-child(2) {
  flex: 0; /* "VS" stays fixed in size */
  margin: 0 auto; /* Center "VS" between the two team containers */
}
.match-card-teamname {
  font-weight: normal;
  white-space: nowrap;
}

/* Mobile devices (up to 414px width) */
@media screen and (max-width: 414px) {
  .match-card-teamname {
    font-size: 12px; /* Reduced font size for team names on mobile */
  }
  .match-card-header {
    padding: 15px 10px;
  }
}

/* iPhone XR */
@media screen and (min-width: 414px) {
  .match-card-teamname {
    font-size: 14px; /* Reduced font size for team names on mobile */
  }
  .match-card-header {
    padding: 30px 30px 24px;
  }
}

.field {
  margin: 0 14px 20px;
  flex: 1;
}

.field_content {
  height: 320px;
  max-width: 340px;
}

/* Tablet Portrait */
@media screen and (min-width: 768px) {
  .field {
    display: flex;
    align-items: center;
  }

  .field_content {
    height: 370px;
  }
}
